* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.logo__link {
  text-decoration: none;
  position: relative;
  z-index: 20;
  transition: all 0.5s;
}
.logo__link:hover {
  transform: scale(1.15);
  transition: all 0.5s;
}
@media screen and (min-width: 868px) {
  .logo__link {
    transform: scale(1.3);
  }
}
.logo__link .logo {
  display: inline-block;
  text-transform: capitalize;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
.logo__link .logo .logo-wrapper {
  height: 1.5625rem;
  display: flex;
  align-items: center;
}
.logo__link .logo .logo-wrapper .logo-wrapper--mod {
  width: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #009f4d;
  font-size: 1.5rem;
}
.logo__link .logo .logo-wrapper .logo__title {
  font-size: 1.5rem;
  margin: 0 0.3125rem;
}
.logo__link .logo .logo-wrapper .logo__subtitle {
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
}

#btn-menu {
  display: none;
}

#btn-menu:checked ~ .menu {
  display: block;
}

.btn-menu {
  cursor: pointer;
  border-radius: 0.3125rem;
  background-color: #009f4d;
  color: #ffffff;
  padding: 0.625rem;
  float: right;
  position: relative;
  z-index: 20;
}
.btn-menu:hover {
  color: black;
  background-color: rgba(234, 234, 234, 0.8);
}
@media screen and (min-width: 868px) {
  .btn-menu {
    display: none;
  }
}
.btn-menu .fa-times {
  display: none;
}
.btn-menu .show {
  display: block;
}
.btn-menu .hidden {
  display: none;
}

.header-buttons {
  margin-right: 10px;
  float: right;
  width: 4.375rem;
  height: 1.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 20;
  display: none;
}
@media screen and (min-width: 868px) {
  .header-buttons {
    position: relative;
    right: 0;
    float: right;
    display: flex;
    align-content: center;
    margin-right: 0px;
  }
}
.header-buttons .header__button {
  border: none;
  cursor: pointer;
  background: transparent;
}
.header-buttons .header__button .icon-header {
  color: #ffffff;
  font-size: 1rem;
  background-color: #009f4d;
  padding: 0.5rem;
  border-radius: 50%;
}
.header-buttons .header__button .icon-header:hover {
  color: black;
  background-color: rgba(234, 234, 234, 0.8);
}

.show {
  display: block;
}

.button {
  background-color: #009f4d;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.3125rem;
  border: none;
  color: #ffffff;
  text-transform: capitalize;
  cursor: pointer;
  max-width: 10.375rem;
  min-width: 10.375rem;
  margin: 1rem 0;
  position: relative;
  font-family: "Poppins", sans-serif;
}
.button:hover {
  color: black;
  background-color: rgba(234, 234, 234, 0.8);
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 10;
  font-family: "Poppins", sans-serif;
}
@media screen and (min-width: 868px) {
  .menu {
    display: block;
    position: relative;
    height: 100%;
    width: auto;
    margin-right: auto;
    margin-left: auto;
  }
}
.menu .menu__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 868px) {
  .menu .menu__list {
    flex-direction: row;
    margin-top: 0;
    justify-content: center;
    height: 5rem;
    align-items: center;
  }
}
.menu .menu__list .menu__item {
  padding: 0.625rem 0;
}
@media screen and (min-width: 868px) {
  .menu .menu__list .menu__item {
    margin: 0 8px;
  }
}
.menu .menu__list .menu__item .menu__link {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}
.menu .menu__list .menu__item .menu__link:hover {
  color: grey;
}

.title-small, .about__link, .simple-text, .title-big {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.25rem;
  text-align: start;
  text-transform: capitalize;
  font-size: 1rem;
  color: grey;
  line-height: 1.5;
}

.title-big {
  font-size: 1.8rem;
  color: #213364;
}

.simple-text {
  font-size: 1rem;
}

.about__link {
  color: #213364;
}

.container-homepage {
  width: 100%;
  height: 100vh;
  background-image: url("../img/header-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
}
.container-homepage::before {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (min-width: 868px) {
  .container-homepage {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.container-homepage .header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homepage {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  font-family: "Poppins", sans-serif;
}
@media screen and (min-width: 868px) {
  .homepage {
    width: 50%;
  }
}
.homepage .homepage__message, .homepage .homepage__text {
  text-align: start;
  color: white;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
@media screen and (min-width: 868px) {
  .homepage .homepage__message, .homepage .homepage__text {
    font-size: 3rem;
  }
}
.homepage .homepage__text {
  font-size: 1rem;
  font-weight: lighter;
}
@media screen and (min-width: 868px) {
  .homepage .homepage__text {
    font-size: 1.8rem;
  }
}

.about {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
@media screen and (min-width: 868px) {
  .about {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    flex-direction: row;
    align-items: center;
  }
}
.about i {
  color: #009f4d;
}
.about .about-wrapper-text {
  width: 100%;
}
@media screen and (min-width: 868px) {
  .about .about-wrapper-text {
    width: 50%;
  }
}
.about .about-wrapper-img {
  width: 100%;
  display: flex;
  margin-top: 3.125rem;
}
@media screen and (min-width: 868px) {
  .about .about-wrapper-img {
    width: 50%;
    margin-top: none;
  }
}
.about .about-wrapper-img .img-wrapper1 {
  width: 50%;
  padding-right: 0.625rem;
  margin-top: -2.5rem;
}
.about .about-wrapper-img .img-wrapper2 {
  width: 50%;
}
.about .about-wrapper-img .img {
  width: 100%;
  border-radius: 0.4688rem;
  margin-bottom: 0.625rem;
}

/*# sourceMappingURL=index.css.map */
