@use '../utilities/variables' as var
@use '../utilities/mixins' as mixin
.gallery-wrapper-primary
  background-color: rgba(0,0,0,0.05)
  width: 100%
  padding: 1.875rem 0
  .gallery-container
    @include mixin.max-width
    width: 100%
    margin: 0 auto
  .gallery-text
    width: 100%
    .title-small
      @include mixin.small-title
      text-align: center
    .title-big
      @include mixin.big-title
      text-align: center
  .gallery-wrapper
    display: flex
    flex-wrap: wrap
    justify-content: center
    .gallery__img
      width: 100%
