@use '../utilities/variables' as var

.container-homepage
  width: 100%
  height: 100vh
  background-image: url('../../img/header-1.jpg')
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  position: relative
  @media screen and (min-width: var.$breakpoint-md)
    padding: 0 3.75rem
  .header
    width: 100%
    height: 5rem
    padding-top: var.$vertical-padding
    padding-bottom: var.$vertical-padding
    padding-left: var.$horizontal-padding
    padding-right: var.$horizontal-padding