@use 'variables' as var

@mixin button
  background-color: var.$primary-color
  color: var.$font-text-color
  border: var.$border-color
  outline: none
  text-transform: capitalize
  border-radius: var.$border-radius
  font-weight: bold
  cursor: pointer
  max-width: 12.5rem
  max-height: 3.75rem
  padding: 0.9375rem 1.25rem

@mixin max-width
  max-width: 1300px
  margin: 0 auto

@mixin small-title
  color: var.$font-color
  font-weight: normal
  font-size: var.$font-size-small-title
  text-align: start
  text-transform: uppercase
  margin: 1.25rem 0

@mixin big-title
  color: var.$secondary-color
  font-weight: bold
  font-size: var.$font-size-big-title
  text-align: start
  margin: 1.25rem 0

@mixin simple-text
  color: var.$font-color
  font-weight: lighter
  font-size: var.$font-size
  text-align: justify
  line-height: 1.5625rem
  margin: 1.25rem 0