// Color
$primary-color: #009f4d
$secondary-color: #213364
$font-color: #666
$font-text-color: #fff
$bg-color: #fff
$heading-color: #3f3a64
$border-radius: 8px
$border-radius-full: 35px
$border-color: transparent
$border-color-light: #eee
$nav-color: #292922
$dropdown-color: #fff
$iframe-filter: grayscale(0%)
$bg-grey: #f7f7f7
$bg-lightgrey: #f8f9fa
$layer: rgba(29, 42, 55, 0.7)

// Breakpoints
$breakpoint-xs: 0
$breakpoint-sm: 576px
$breakpoint-md: 768px
$breakpoint-lg: 992px
$breakpoint-xl: 1200px

// Font size
$font-size: 16px
$font-size-big-title: 25px
$font-size-small-title: 20px

// Font family
$font-family: "Poppins", sans-serif