.brands
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: center
  border-top: 0.0625rem solid rgba(0,0,0,0.1)
  margin-top: 3.125rem
  min-height: 18.75rem
  .brand
    width: 12.5rem
    margin: 3.125rem 1.25rem
    .brand__img
      width: 100%
