@use '../utilities/variables' as var

// Button menu
#btn-menu
  display: none
#btn-menu:checked ~ .menu
  display: block
.btn-menu
  cursor: pointer
  border-radius: var.$border-radius-button
  background-color: var.$primary-color
  color: var.$banner-slider-text-color
  padding: 0.625rem
  float: right
  position: relative
  z-index: 20
  @media screen and (min-width: var.$breakpoint-md)
    display: none

// Button search and moon
.header-buttons
  margin-right: 10px
  float: right
  width: 4.375rem
  height: 1.875rem
  display: flex
  justify-content: space-between
  align-items: center
  position: relative
  z-index: 20
  @media screen and (min-width: var.$breakpoint-md)
    position: relative
    right: 0
    float: right
    display: flex
    align-content: center
    margin-right: 0px
  .header__button
    border: none
    cursor: pointer
    background: transparent
    .icon-header
      color: var.$banner-slider-text-color
      font-size: 1rem
      background-color: var.$primary-color
      padding: 0.5rem
      border-radius: 50%

// Button action
.button
  background-color: var.$primary-color 
  padding-top: var.$vertical-padding-small
  padding-bottom: var.$vertical-padding-small
  border-radius: var.$border-radius-button
  border: none
  color: var.$banner-slider-text-color
  text-transform: capitalize
  cursor: pointer
  max-width: 10.375rem
  min-width: 10.375rem
  margin: 1rem 0
  position: relative