@use '../utilities/variables' as var
@use '../utilities/mixins' as mixin

.nav-buttons
  grid-column: 5 / -1
  height: 50px
  display: flex
  align-items: center
  .search--button, .bg--button
    @include mixin.button
    padding: 0.6063rem
    border-radius: 50%
    margin: 0 5px
  .menu--button, .x--button
    @include mixin.button
    padding: 0.6063rem
    font-size: 1.5rem
    margin: 0 5px
  .x--button
    display: none
